<div class="sidebar">
  <app-sidebar
    (sortOptionChanged)="onSortOptionChanged($event)"
    (sortOrderChanged)="onSortOrderChanged($event)"
  ></app-sidebar>
</div>
<div class="container">
  <mat-spinner *ngIf="!products"></mat-spinner>
  <mat-card
    class="product-card"
    *ngFor="let product of products"
  >
    <mat-card-header class="mat-card-header">
      <mat-card-title>{{product.title}}</mat-card-title>
      <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
    </mat-card-header>
    <button
      mat-icon-button
      class="favorite-button"
      color="accent"
      (click)="addToFavorites(product)"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <img
      class="product-image"
      mat-card-image
      src="{{product.image}}"
      alt="изображение продукта"
    >
    <mat-card-content>
      <p class="product-price">Цена: {{product.price | currency}}</p>
      <p class="product-rating">Рейтинг: {{product.rating.rate}}</p>
    </mat-card-content>

    <mat-card-actions>
      <button
        class="add-to-basket-button"
        mat-flat-button
        color="primary"
        (click)="addToBasket(product)"
        type="button"
      >
        В корзину
      </button>

      <button
        class="details-button"
        mat-button
        color="primary"
        routerLink="/product/{{product.id}}"
      >
        Подробнее
      </button>
    </mat-card-actions>
  </mat-card>
</div>
