.empty-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.basket-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
  }
}

.card-header {
  display: flex;
  margin-bottom: auto;
}

.basket-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 897px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.product-rating-box {
  display: flex;
  align-items: center;

  span {
    margin-right: 5px;
  }
}

mat-card-actions {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1025px) {

    flex-direction: column;
  }
}

.basket-products {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 70%;
    margin-right: 20px;
  }
}

.basket-cards {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.basket-card {
  margin: 20px;
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 45%;
  }
}

.basket-order {
  background-color: #f5f5f5;
  padding: 20px;

  @media screen and (min-width: 768px) {
    width: 30%;
    margin-top: 20px;
  }
}

.basket-order h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.basket-image {
  object-fit: contain;
  height: 200px;
}

.basket-order-summary {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  p {
    margin: 5px 0;
  }
}

.basket-order-total {
  font-weight: bold;
}
