<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px">home</mat-icon>
      <span>ShopForYou</span>
    </div>

    <span class="spacer"></span>

    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button routerLink="">
        Главная
        <mat-icon style="margin-right: 5px">home</mat-icon>
      </button>
      <button class="toolbar button" mat-flat-button routerLink="products">
        Товары
        <mat-icon style="margin-right: 5px">ads_click</mat-icon>
      </button>
      <button class="toolbar button" mat-flat-button routerLink="basket" matBadge="{{productsCount}}" matBadgeColor="accent">
        Корзина
        <mat-icon style="margin-right: 5px">local_mall</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
