<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="toolbar no-select" routerLink="">
        <mat-icon class="toolbar button">home</mat-icon>
        <span>ShopForYou</span>
      </div>

      <span class="spacer"></span>

      <div class="toolbar no-select desktop-menu">
        <button class="toolbar button" mat-flat-button routerLink="">
          Главная
          <mat-icon class="toolbar icon">web</mat-icon>
        </button>
        <button class="toolbar button" mat-flat-button routerLink="products">
          Товары
          <mat-icon class="toolbar icon">ads_click</mat-icon>
        </button>
        <button class="toolbar button" mat-flat-button routerLink="favorites" matBadge="{{favoritesProductsCount}}" matBadgeColor="accent">
          Избранное
          <mat-icon class="toolbar icon">favorites</mat-icon>
        </button>
        <button class="toolbar button" mat-flat-button routerLink="basket" matBadge="{{productsCount}}" matBadgeColor="accent">
          Корзина
          <mat-icon class="toolbar icon">local_mall</mat-icon>
        </button>
      </div>

      <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #menu="matMenu" class="menu-dropdown">
        <button mat-menu-item routerLink="">
          <mat-icon class="toolbar icon">web</mat-icon>
          <span>Главная</span>
        </button>
        <button mat-menu-item routerLink="products">
          <mat-icon class="toolbar icon">ads_click</mat-icon>
          <span>Товары</span>
        </button>
        <button mat-menu-item routerLink="favorites">
          <mat-icon matBadgePosition="before" matBadge="{{favoritesProductsCount}}" matBadgeColor="accent" class="toolbar icon">favorites</mat-icon>
          <span>Избранное</span>
        </button>
        <button mat-menu-item routerLink="basket" >
          <mat-icon matBadgePosition="before" matBadge="{{productsCount}}" matBadgeColor="accent" class="toolbar icon">local_mall</mat-icon>
          <span>Корзина</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
