<h1>Студенческий проект - интернет магазин "ShopForYou".</h1>
<h2>Добро пожаловать в мой интернет-магазин! </h2>
<p>  Здесь вы найдете все необходимые товары для комфортной жизни.
  Я используем каталог товаров с https://fakestoreapi.com/,
  чтобы предоставить вам выбор товаров разных категорий.
</p>
<p>
  В нашем магазине вы сможете искать товары по ключевым словам,
  сортировать их по цене, по алфавиту, по рейтингу, категории, а также фильтровать по категориям и избранным товарам.
  Я добавили возможность добавления товаров в корзину, а также настройки количества товаров.
  На карточке товара и на странице товара вы можете добавить товар в избранное.
  Также мы добавили возможность сохранять товарами в localStorage, чтобы вы не потеряли их после перезагрузки страницы.
</p>
<p>
  Товары ограничены 20-ю элементами, но я добавил возможность пагинации для удобства просмотра товаров.
  Я также добавил кнопку корзины в верхнем меню, где вы можете видеть количество товаров, добавленных в корзину.
  А еще кнопку избранного в верхнем меню, где вы можете видеть количество товаров, добавленных в избранное.
</p>
<p>
  Я надеюсь, что вам понравится мой интернет-магазин и вы найдете все, что вам нужно!
  Я старался сделать приложение максимально удобным и функциональным,
  а дизайн который у меня получился будет только приятным дополнением.
  Не забудьте, что магазин дополнительно поддерживает мобильные устройства,
  в любом случае, я постарался сделать его таким,
  поэтому вы можете покупать удобно в любом месте и в любое время!
</p>

