<div class="sidebar__box">
  <mat-form-field class="full-width">
    <mat-label>Поможем найти</mat-label>
    <input matInput type="text" [(ngModel)]="searchValue" (input)="onSearch()" placeholder="Поиск...">
  </mat-form-field>

  <div class="filters">
    <div class="sort-options">
      <label>Сортировать:</label>
      <select name="sortOption" [(ngModel)]="currentSortOption" (change)="onSortOptionChange()">
        <option *ngFor="let item of filters" [value]="item.value">{{item.name}}</option>
      </select>
    </div>

    <div class="sort-order">
      <label>Порядок:</label>
      <select name="sortOrder" [(ngModel)]="currentSortOrder" (change)="onSortOrderChange()">
        <option value="asc">По возрастанию</option>
        <option value="desc">По убыванию</option>
      </select>
    </div>

    <div class="sort-category">
      <label>Категории:</label>
      <select name="category" [(ngModel)]="currentCategory" (change)="onCategoryChange()">
        <option value="all">Все категории</option>
        <option value="favorites">Избранное</option>
        <option *ngFor="let category of categories" [value]="category">{{category}}</option>
      </select>
    </div>
  </div>
</div>
