<div class="favorites__container">
  <ng-container *ngIf="favorites && favorites.length > 0; else favoritesEmpty">
    <div class="favorites__list">
      <mat-card class="favorites__card" *ngFor="let product of favorites">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{product.title}}</mat-card-title>
            <div class="favorites__image-container">
              <img class="favorites__image" src="{{product.image}}" alt="{{product.title}}">
            </div>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-actions class="favorites__actions">
          <button
            mat-flat-button
            color="primary"
            (click)="deleteFromFavorites(product)"
            type="button"
          >Удалить</button>
          <button
            mat-button
            color="primary"
            routerLink="/product/{{product.id}}"
          >Подробнее</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #favoritesEmpty>
    <div class="favorites__empty">
      <h2 class="favorites__empty-title">Список пуст</h2>
      <p class="favorites__empty-subtitle">Добавьте товары в избранное, чтобы они появились в списке</p>
      <button class="favorites__empty-button" mat-button color="primary" routerLink="/products">Перейти в каталог</button>
    </div>
  </ng-template>
</div>
